/* * {
  margin: 4;
  padding: 0;
  box-sizing: border-box;
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  visibility: hidden;
}
body {
  background-color: #ffcc66;
}

.Logos {
  height: 100px;
  width: 70%;
}
input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.Keyboard-intro {
  text-align: center;
}
.Sequncer-title {
  text-align: center;
}
.Keyboard-title {
  text-align: center;
}
.status {
  text-align: center;
}
.Keyboard-select {
  position: absolute;
  float: 30px;
  margin: 0 auto;
}
.midi-sounds {
  height: 30px;
  width: 30px;
  color: red;
}
.div-button {
}
.row {
  /* clear: both; */
  display: flex;
  align-items: center;
}

.pad {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 3px 3px 0;
  cursor: pointer;
  /* background: #B1EDE8; */
  background: rgb(169, 245, 173);
  border-radius: 3px;
  flex: auto;
}

.pads {
  margin-top: 15px;
  width: 100%;
  /* display:flex;
      flex-direction: column */
  /* margin-left: 23vh;
      margin-right: 10vh; */
}

#pad0,
#pad4,
#pad8,
#pad12 {
  border-left: 2px solid #ff6978;
}

.pad:hover {
  background: rgb(100, 237, 232);
}

.pad.active {
  background: rgb(218, 117, 172);
  /* background: rgb(57, 133, 124); */
  /* background: rgb(121, 55, 91); */
  /* background: rgb(134, 1, 134); */
}

.pad.playing {
  background: #f8f7ff;
  box-shadow: 0px 0px 20px 3px rgba(255, 105, 120, 0.39);
}

.pad.active.playing,
.pad.active:hover {
  background: #ff6978;
}

p.link a {
  color: rgb(226, 208, 255);
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #3395ff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  /* width:1px; */
  /* width: 1%; */
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  /* background: linear-gradient(45deg, #373a47, #ababad); */
  /* background: #474A51; */
  background-image: url("https://www.textures.com/system/gallery/photos/Substance/127830/Substance0093_18_download600.jpg");
  padding: 2em 1.5em 0;
  /* width:70%; */
  font-size: 1.4em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.menu-item {
  color: white;
  padding: 10px;
  font-weight: 900;
}
.menu-item:hover {
  color: #3395ff;
  padding: 10px;
  cursor: pointer;
}

.menuicons {
  width: 40%;
  position: absolute;
  left: 30%;
}

.deleteIcon {
  height: 25px;
  width: 25px;
  flex: auto;
}
